.header{
    position: fixed;
    background-color: rgb(67, 81, 64);
    height: 60px;
    max-height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
}

.navlist{
    display: flex;
    flex-direction: row;
    list-style: none;
}

a{
    text-decoration: none;
    color: rgb(253, 253, 253);
    font-size: medium;
    font-weight: 500;
    font-family: sans-serif;
}
a:visited{
    text-decoration: none;
}
.about{
    margin-left: 50px;
}

.education{
    margin-left: 50px;
}

.projects{
    margin-left: 50px;
}

.extracurriculars{
    margin-left: 50px;
}

a:hover{
    color: tan;
}